---
export const prerender = false;
import { actions } from 'astro:actions';

import Layout from "@/layouts/Page.astro"
const urlSearchParams = Astro.url.searchParams
const { access_token, token_type, login, authProvider, state } = Object.fromEntries(urlSearchParams.entries());

const result = Astro.getActionResult(actions.signup);
console.log(result);

if(result && result.data) {
  const { state,...params} = result.data;
  const { origin, pathname, searchParams}  = new URL(state)
  const { courseId } = Object.fromEntries(searchParams.entries());
  console.log(params);
  const newParams = new URLSearchParams({...params, courseId});
  return Astro.redirect(`${origin}${pathname}?${newParams}`);
}

const title = "Offcourse - Sign Up";
---
<Layout {title}>
  <div class="px-5 sm:px-8 gap-8 py-12 py-20 lg:py-20 mx-auto">
  { access_token ? (
    <h1>Sign Up</h1>

    <form method="POST" action={actions.signup}>
      <label>User Name<input required name="userName" /></label>
      <label>Repository URL<input required name="repository" /></label>
      <input type="hidden" name="accessToken" value={access_token} />
      <input type="hidden" name="tokenType" value={token_type} />
      <input type="hidden" name="login" value={login} />
      <input type="hidden" name="authProvider" value={authProvider} />
      <input type="hidden" name="state" value={state} />
      <button>sign up</button>
    </form>
    ) : (
    <h1>Authenticate with Github</h1>
    <p>{ JSON.stringify(result) }</p>
    )}
  </div>
</Layout>
