---
import type { Course } from '@offcourse/schema';
import { QueryType, CollectionType } from '@offcourse/schema';
import { Offcourse } from "@offcourse/ui"
import { BaseHead, OGType, RoutesMenu } from "@/components";
import Layout from "@/layouts/Base.astro"
import { handleQuery } from '@offcourse/db/query';

import { config } from 'dotenv';
config({ path: '.env' });

export async function getStaticPaths() {

  const queryTypes = {
    [CollectionType.BOOKMARKED]: QueryType.GET_BOOKMARKED_COURSES,
    [CollectionType.FOLLOWED]: QueryType.GET_FOLLOWED_COURSES,
    [CollectionType.ALL]: QueryType.GET_ALL_COURSES,
    [CollectionType.CURATED]: QueryType.GET_CURATED_COURSES 
  }

  return await Promise.all(
    Object.keys(CollectionType).map(async collection =>{

      const queryType = queryTypes[collection]
      const data  = await handleQuery({type: queryType, payload: undefined}, false)
      const courses = data.payload as Course[];
      return {
        params: { 
          collection: collection === CollectionType.CURATED 
            ? undefined 
            : collection.toLowerCase() 
        },
        props: { collection, courses },
      }
    }))
}

const { collection, courses } = Astro.props;
const description = "COURSES";
const title = "Offcourse";

const routes = {
  [CollectionType.BOOKMARKED]: "bookmarked",
  [CollectionType.FOLLOWED]: "followed",
  [CollectionType.ALL]: "all",
  [CollectionType.CURATED]: "/"
}

const links = Object.entries(routes).map(([title, href]) => ({title, href}));

---
<Layout {title}>
  <BaseHead 
    slot="og:data" 
    type={OGType.WEBSITE} 
    {title} 
    {description} 
    url={Astro.url} />
  <RoutesMenu client:load slot="footer" currentRoute={collection} links={links}/>
  <main class="bg-white text-black dark:bg-black dark:text-white w-full px-5 sm:px-8 gap-8 p-8 lg:py-12 mx-auto">
    <Offcourse data={courses} client:load/>
  </main>
</Layout>
