---
import type { Course } from '@offcourse/schema';
import { QueryType, CollectionType } from '@offcourse/schema';
import { Offcourse } from "@offcourse/ui"
import { BaseHead, OGType, RoutesMenu } from "@/components";
import Layout from "@/layouts/Base.astro"
import { handleQuery } from '@offcourse/db/query';

const data  = await handleQuery({type: QueryType.GET_CURATED_COURSES}, false)
const courses = data.payload as Course[]
const collection = CollectionType.CURATED;
const description = "COURSES";
const title = "Offcourse";
const routes = {
  [CollectionType.BOOKMARKED]: "bookmarked",
  [CollectionType.FOLLOWED]: "followed",
  [CollectionType.ALL]: "all",
  [CollectionType.CURATED]: "/"
}
const links = Object.entries(routes).map(([title, href]) => ({title, href}));
---
<Layout {title}>
  <BaseHead 
    slot="og:data" 
    type={OGType.WEBSITE} 
    {title} 
    {description} 
    url={Astro.url} />
  <main class="bg-white text-black dark:bg-black dark:text-white print:bg-pure-white print:text-pitch-black print:py-24 w-full px-5 sm:px-8 gap-8 py-12 py-20 lg:py-24 mx-auto">
    <Offcourse data={courses} client:load/>
    <RoutesMenu client:load className="fixed bottom-0 right-0" value={collection} links={links}/>
  </main>
</Layout>
