---
export const prerender = false;
import { actions } from 'astro:actions';
import { Input } from "@/components/ui/input"
import { Label } from "@/components/ui/label"
import { Button } from "@/components/ui/button"
import { Textarea } from "@/components/ui/textarea"
import Layout from "@/layouts/Page.astro"

const urlSearchParams = Astro.url.searchParams

const { 
  access_token, 
  token_type, 
  login, 
  authProvider, 
  state 
} = Object.fromEntries(urlSearchParams.entries());

const result = Astro.getActionResult(actions.signup);

if(result && result.data) {
  const { state, ...params} = result.data;
  const { origin, pathname, searchParams}  = new URL(state)
  const { courseId } = Object.fromEntries(searchParams.entries());
  const newParams = new URLSearchParams({...params, courseId});
  const redirectURL = `${origin}${pathname}?${newParams}`;
  console.log(redirectURL);
  return Astro.redirect(redirectURL);
}

const title = "Offcourse - Sign Up";
---
<Layout {title}>
  <div class="px-5 sm:px-8 gap-8 py-12 py-20 lg:py-20 mx-auto">
  { access_token ? (
    <h1>Sign Up</h1>
    <p>{ result && result.error}</p>

    <form method="POST" action={actions.signup}>
      <div class="grid w-full max-w-sm items-center gap-1.5">
        <Label htmlFor="userName">User Name</Label>
        <Input required id="userName" name="userName" />
      </div>
      <div class="grid w-full max-w-sm items-center gap-1.5">
        <Label htmlFor="repository">Repository URL</Label>
        <Input required id="repository" name="repository" />
      </div>
      <div class="grid w-full max-w-sm items-center gap-1.5">
        <Label htmlFor="publicKey">Repository Public Key</Label>
        <Textarea required id="publicKey" name="publicKey" />
      </div>
      <input type="hidden" name="accessToken" value={access_token} />
      <input type="hidden" name="tokenType" value={token_type} />
      <input type="hidden" name="login" value={login} />
      <input type="hidden" name="authProvider" value={authProvider} />
      <input type="hidden" name="state" value={state} />
      <div class="mt-4">
        <Button>sign up</button>
      </div>
    </form>
    ) : (
    <h1>Authenticate with Github</h1>
    <p>{ JSON.stringify(result) }</p>
    )}
  </div>
</Layout>
