---
import { getEntry, getCollection } from "astro:content";
import { QueryType, CollectionType } from '@offcourse/schema';
import ValueSection from "../components/ValueSection.astro"
import SignUpForm from "../components/SignUpForm.astro";
import Logo from "../components/Logo.svg";
import Layout from "../layouts/Base.astro"
const entry  = await getEntry("PageContent", "join")
const { title, description, sections, call_to_action} = entry.data
const coursesData = await getCollection('Courses');
const courses = coursesData.map(({data}) => data);
---

<Layout title="Presentation">
  <div class="lg:w-11/12 xl:w-9/12 2xl:w-8/12 px-4 sm:px-8 mx-auto py-12 space-y-24 overflow-x-clip">
    <div class="flex py-48 items-center justify-between px-2">
      <div>
        <h1 class="text-primary-dark text-7xl sm:text-8xl font-extrabold pb-10 sm:pb-12 max-w-[800px] z-10">
          { title }
        </h1>
        <a href="#cta" class="border border-secondary bg-secondary my-4 px-5 py-3 w-auto text-white font-bold" type="submit">
          {call_to_action.cta}
        </a>
      </div>
      <div class="grid grid-cols-1 grid-rows-1 -translate-y-1/4">
        <Logo class="col-start-1 row-start-1 rotate-45 -translate-x-[45px] -translate-y-[55px] sm:-translate-y-0 sm:-translate-x-1" width="425" height="425"/>
        <Logo class="col-start-1 row-start-1 -translate-x-[145px] sm:-translate-x-[185px] translate-y-[190px] sm:translate-y-[185px]" width="425" height="425"/>
      </div>
    </div>
    { 
    sections.map((section, index) => 
    <ValueSection {...section} cta={call_to_action.cta} index={index} course={courses[index]}/> )
    }
    <div id="cta" class="flex flex-col md:flex-row gap-x-24 gap-y-8 px-4 space-y-4 sm:items-center pb-24">
      <div class="flex-1 space-y-8">
        <h1 class="text-4xl font-bold text-primary-dark">{call_to_action.title}</h1>
        <p class="text-2xl">{call_to_action.description}</p>
      </div>
      <div class="flex-1">
        <SignUpForm cta={call_to_action.cta}/>
      </div>
    </div>
  </div>
</Layout>
